.burst-container {
  width: max-content;
  transform: rotate(-30deg);
  margin: 3ch;
  color: var(--on-dark);
  text-transform: uppercase;
}
.burst,
.burst::before,
.burst::after {
  width: 8ch;
  height: 8ch;
}

.burst {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background: var(--magenta);
}

.burst::before,
.burst::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: inherit;
}
  
.burst::before {
  transform: rotate(30deg);
}
  
.burst::after {
  transform: rotate(60deg);
}