.Wrapper {
  background: #6e6e6e;
  padding: 1rem;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "title title"
                       "image tags";

  gap: 0.75rem;
  position: relative;
}

.Wrapper > h3 {
  grid-area: title;
}

.Image {
  grid-area: image;
}

.Tags {
  grid-area: tags;
}

.BurstContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.HasFeatured {
  padding-bottom: 2.5rem;
}

.Link {
  display: block;
  text-decoration: none;
  background-color: #6e6e6e;
  transition: background-color 0.2s ease-in-out;
}

.Link:hover {
  background-color: var(--magenta);
}

.Link:active {
  background-color: var(--purple);
}
