.yellow {
  background: var(--yellow);
}

.green {
  background: var(--green);
}

.blue {
  background: var(--blue);
}

.magenta {
  background: var(--magenta);
}

.purple {
  background: var(--purple);
}

.neutral {
  background: var(--neutral);
}

.dark {
  background: var(--dark);
}

.light {
  background: var(--light);
}